.banner {
  display: block;
  position: relative;
  height: 85px;
}
.banner img {
  position:absolute;
}

/*
#bgSliceMiddle img {
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		-ms-transition: opacity 1s ease-in-out;		
		transition: opacity 1s ease-in-out;
		opacity:0;
}
#bgSliceMiddle img.crossfade {
		opacity:1;
}
*/
